
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: all .3s ease-in-out;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}


h1,
h2,
h3 {
    text-transform: uppercase;
}

h2 {
    color: var(--headingColor);
    font-size: 3rem;
    font-weight: 400;
}

.container{
    width:90%;
    margin: auto;
    padding: 0 15px;
}
.flex{
    display: flex;
    justify-content: space-between;
    
}
header{
    z-index: 99;
    /* position: fixed; */
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
    padding-top: 20px;
    display: flex;
    align-items: center;
    padding: 20px 0;
    
  
}
/* start header */
header .container{
   display: grid;
grid-template-columns: auto 2fr auto ;
align-items: center;
   
}
header nav ul li {
    position:relative;
}

header nav ul li a{
    color: #088178;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
   
}
a span{
    position: absolute;
    display: block;
    background-color: #088178;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    transform: translateY(0);
    opacity: 0;
 
}
a span:nth-child(2){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateX(-100%);
   
   
}
a span:nth-child(4){
    bottom:0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateX(100%);
    background-color: #088178;
   
}
a:hover span:nth-child(4){
    transition:0.5s ;
    transform: translateX(-100%);
    transition-delay: 0.75s;
    
}

a:hover span:nth-child(1){
    transition:0.5s ;
    transform: translateY(-100%);
    opacity: 1;
 
}
a:hover span:nth-child(2){
    transition:0.75s ;
    transform: translateX(100%);
    transition-delay: 0.25s;
}

a span:nth-child(3){
    top:0;
    right:0;
    width: 2px;
    height: 100%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
a:hover span:nth-child(3){
 transition: 0.5s;
 transform:translateY(0) ;
 transition-delay: 0.5s;

}
header .active{
    
    position: relative;
   
   

}
header .active:hover nav{
    display: flex;
}
header .active nav  {
    position: absolute;
    
    display: flex;
    padding: 10px 70px;
    top: 50px;
    border: 1px solid #088178;
    border-radius: 25px;
    gap: 30px;
    display: none;
   
}
header .active nav ul li{
    color: #088179af;
    font-size: 18px;
    line-height: 1.6;
    padding: 0 20px;
}
header nav ul li  i{
    font-size: 12px;
    padding: 0 10px !important;
    
}
header nav:nth-child(2) li {
  position: relative; 
 
}

header i{
    width: 40px;
    height: 40px;
    line-height: 40px !important;
    color: #1a1a1a;
    background-color: #e8f6ea;
    
    border-radius: 50px;
    border: 1px solid #cce7d0;
     
    font-size: 18px !important;
    text-align: center;
  
}



header nav li a:hover,
header nav li a.active {
    color: #1a1a1a;
}
/* end header */
/* start hero */
.hero{
   
  
    height: 90vh;
    background-color: #e8f6ea;
    display: flex;
  
    justify-content: center;
    flex-direction: row;
    
   
   
}
.hero div{
  
    margin-top: 150px;
}
.hero h4 {
    padding-bottom: 15px;
    font-size: 20px;
    color: #222;
}
.hero h1 {
    color: #088178;
    font-size: 50px;
    line-height: 64px;
   
}
.hero button{
    background-image: url(img/button.png);
    border: none;
   
    padding: 14px 80px 14px 65px;
    background-color: transparent;
}
.hero p{
    
        font-size: 16px;
        color: #465b52;
        margin: 15px 0 20px 0;
      
}
/* end hero */
/* start features */
#feature{
   padding-top: 40px 

}
.line{
    text-align: center;
    text-transform: capitalize;
    position: relative;
}
 .line::before{
       position: absolute;
       content: "";
       top: 60px;
       width: 90px;
       height: 2px;
       background-color: #088178;
       left: 50%;
       transform: translateX(-50%);
      
}
.line:hover::before{
 width: 150px;

}
#feature .fe_1 {
    width: 250px;
    text-align: center;
    padding: 25px 0px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 5px;
    
    transition: 0.3s ease-in-out;
    position: relative;
    margin-top: 50px;
}
#feature .fe_1 img {
    margin-bottom: 10px;
    width: 100%;
}
#feature .fe_1 p{
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
    text-transform: capitalize;
}
#feature .fe_1 h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    
    background-color: #cdebbc;
    color: #088178;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    
}
#feature .fe_1 i{
position: absolute;
bottom: 25px;
right: 0;
background-color: #088178;
width: 30px;
height:30px ;
line-height: 30px;
display: block;
display: none;

}

#feature .fe_1:hover{
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.200);
}
#feature .fe_1:hover i{
display: block;
}
#feature .fe_1:first-child i{
    background-color: #cdebbc;
}
#feature .fe_1:nth-child(2) h6,
#feature .fe_1:nth-child(2) i {
    background-color:#fddde4 ;
    
}

#feature .fe_1:nth-child(3) h6,
#feature .fe_1:nth-child(3) i {
    background-color: #d1e8f2;
}

#feature .fe_1:nth-child(4) h6,
#feature .fe_1:nth-child(4) i {
    background-color: #cdd4f8;
}
/* start disaccount */
.discount{
    margin-top: 40px;
}
.discount .container{
    display: flex;
    gap: 20px;
}
.discount .container .discount-container{
    background-color: #cce7d057;
    padding: 15px 30px;
    position: relative;
   
}
.discount .container .discount-container p{
    font-size: 20px;
    color: #465b52;
    margin: 15px 0 20px 0;
    font-weight: 600;
    line-height: 1.6;
    position: relative;
    

}
.discount .container .discount-container p:first-child:before{
    position: absolute;
    content: '\f10d';
    font-weight: bold;
    font-family: 'font Awesome 5 free';
    left: -35px;
    font-size: 35px;
    top: -10px;
    padding: 0 10px;
    color:#088178 ;
}
.discount .container .discount-container p:first-child{
    font-size: 25px;
    padding: 0 10px;
}
.discount .container .discount-container p:first-child span{
    font-weight: thin;
    font-size: 16px;
    
}
.discount .container .discount-container .sm-line{
position: absolute;
bottom: 10px;
right: 10px;

width: 140px;
height: 20px;
}
.discount .container .discount-container .sm-line span{
    display: inline-flex;
    width: 40px;
    height: 4px;
    background-color: #088178;
}
.discount .container .discount-container p:first-child{
    color: #1a1a1a;
}
.discount .imgs-discount{
    display: flex;
    gap:20px;
   
}
.discount .imgs-discount .img{
    position:relative
}
.discount .imgs-discount .img div{
  position:absolute;
  top:30px;
  left: 30px;
  transition:0.5s;
 
}
.discount .imgs-discount .img:hover{
    transform: scale(1.1);
   
}

.discount .imgs-discount .img div p:first-child{
    font-size: 22px;
    color:#088178;
   
}
.discount .imgs-discount .img div h4{
font-size: 26px;
font-weight: 600;
}
.imgs-discount img{
    width:100%;
}
/* start sprits */
#sprites{
    margin-top: 40px;
}
.sprites{
    display: flex;
    justify-content: space-between;
   
}
.sprit-icon{
    background-image: url(img/service-icon.png);
    background-repeat: no-repeat;
    height: 55px;
}
.sprit-icon_1{
    background-position: center 10px;
    transition: 0.5s;
   
}
.sprit-icon_2{
    background-position: center -180px;
}
.sprit-icon_3{
    background-position: center -366px;
}
.sprit-icon_4{
    background-position: center -553px;
}
.sprit-icon_5{
    background-position: center -734px;
}
.sprit-item{
    padding: 0 10px;
}
.sprit-item:not(.sprit-item:last-child){
    text-align: center;
    flex: 1;
    border-right: 2px solid #088178;
}
.sprit-item:hover .sprit-icon_1 {
    background-position: center -98px;
   
}
.sprit-item:hover .sprit-icon_2 {
    background-position: center -270px;
   
}
.sprit-item:hover .sprit-icon_4 {
    background-position: center -640px;
   
}
.sprit-item:hover .sprit-icon_3 {
    background-position: center -450px;
   
}
.sprit-item:hover .sprit-icon_5 {
    background-position: center -820px;
   
}
.sprit-item .info h3{
 font-size: 17px;
}
.sprit-item .info span{
    font-size: 15px;
    color: gray;
}
 hr{
    margin-top: 50px !important;
}
/* end sprits */
/* start products */
.products{
    padding: 40px 0;
}
.product-view nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.product-view nav ul{
    display: flex;
    justify-content: space-around;
   
}
.product-view nav ul li{
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
}
.products .pro
 {
    margin: 15px 0;
    /* width: 30%; */
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    box-shadow: 10px 20px 35px rgba(0, 0, 0, 0.03);
    transition: 0.3s ease-in-out;
    position: relative;
}
.img{
    position: relative;
}
.products .pro img 
{   
    width: 100%;
    border-radius: 20px;
   
   
}
.products .pro img:nth-child(2){
    position: absolute;
    left: 0%;
    bottom: 10px;
    top: 0px;
    transform: rotateY(90deg);
    transition: 0.5s;
 
}
.products .pro:hover img:nth-child(2){
   transform: rotateY(0deg);
 
}
.products .pro:hover .icon{
    display: flex;
}
.products .icon{
    position: absolute;
    display:flex ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    
}
.products .icon a{
    padding: 15px;
    display: block;
    background-color: #088178;
    margin-right: 10px;
    border-radius: 10px;
   
}
.products .icon a i{
    color: #fff;
}
.products .des {
    text-align: start;
    padding: 10px 0;
}
.products .des span {
    color: #606063;
    font-size: 18px;
}
.products .des h5 {
    font-size: 22px;
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 700;
}
.products .des .star {
    font-size: 16px;
    color: rgb(243, 181, 25);
    margin-top: 10px;
}

.products .container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   
}
/* footer */
footer{
    margin-top: 60px;
    background-color: #cdebbc4f;
    padding:40px 0 ;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .col:first-child .icon{
    display: inline-flex;
    font-size: 18px;
}
footer .logo {
    margin-bottom: 30px;
}
footer h4 {
    font-size: 22px;
    padding-bottom: 20px;
    font-weight: 800;
}
footer p {
    font-size: 20px;
    margin: 0 0 15px 0;
}
footer a {
    font-size: 20px;
    text-decoration: none;
    color: #1a1a1a;
    margin-bottom: 10px;
    font-weight: 500;
}
footer .follow {
    margin-top: 20px;
}

footer .follow a {
    color: #465b52;
    padding-right: 20px;
    cursor: pointer;
}
footer .install .oo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
footer .install .oo img {
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img {
    margin: 10px 0 15px 0;
}
footer a:hover {
    color: #088178;
}
footer .install img {
    width: 50%;
}

